<h1>Revoking user</h1>

<%= form_tag(projects_revoke_req_path,method: 'post') do %>
Enter User's email: <%= text_field_tag :useremail %>
<%= hidden_field_tag :projectid %>
<%= hidden_field_tag :projectid, value = params[:format] %>
<%= submit_tag "Submit" %>
<% end %>

